/* CSS files add styling rules to your content */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 18px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #424242;
  text-align: left;
}

h2{
 font-size: 20px;
}

h3{
  font-family: 'Roboto Mono', monospace;
  color: gray;
  font-style: normal;
  font-size: 14px;
}

h4{
  font-weight: 600;
  font-size:  20px;
  margin: 0;
  padding: 0;
}

h5{
  font-family: 'Roboto', sans-serif;
  color: #2B73D6;
}

nav {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  float: center;
  text-align: center;
  font-size: 18px;
  width: 400px;
  margin: auto;
}



a:link {
  color: #5F6368;
  text-decoration: none;
}

a:visited {
  color: #5F6368;
  text-decoration: none;
}

a:hover {
  color: #5F6368;
  text-decoration: underline;
}


a:active {
  color: #5F6368;
  text-decoration: underline;
}

.front{
  margin-left: 130px;
  margin-right: 130px;
  padding: 40px;
}

.front:hover{
  box-shadow: 0 0.3vw 0.6vw 0 lightgray;
}

.flower{
  display: block;
  width: 100%;
  postition: fixed;
}

.flowertext {
  width: 65%;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  width: 95%;
  padding: 10px;
  text-align: center;
}

.abouttop{
  padding-top: 10px;
}

.aboutnav{
  float: left;
  padding-top: 10px;
  margin-left:  250px;
}

.searchicon{
  float: right;
  margin-right: 150px;
}

.logo2{
  float: left;
  margin-left: 130px;
  width: 12%;
}

.about{
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 150px;
}

.aboutimg{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
 
.abouttext{
  width: 60%;
  padding-bottom: 100px;
}

.error{
  margin-left: 150px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.errortxt{
  margin-left: 150px;
}


.hometext{
}

hr {
  border-top: 4px solid #4285F4;
}

.news{
  margin-left: 150px;
}

.newsf{
  margin-left: 150px;
  margin-right: 150px;
}

.newsleft{
  float: left;
  width: 47%;
}

.newsltxt {
}

.celebrateimg {
}

.celebratetxt {
  padding-bottom: 50px;
}

.newsright {
  float: right;
  text-align: left;
  width: 47%;
}

.newsrtxt {
}

br {
  line-height: 10%;
}

.secondsect{
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: blue;
}

.left{
  float: left;
  width: 47%;
  background-color: pink;
}

.right{
  float: right;
  width: 47%;
}

.rheader{
  margin-left: 150px;
  padding-top: 140px;
  padding-bottom: 80px;
  width: 50%;
}

.resources{
  margin-left: 150px;
  margin-right: 150px;
}

.r1{
  width: 100%;
  display: inline-block;
  padding-bottom: 50px;
}

.r2{
    width: 100%;
  display: inline-block;
  padding-bottom: 100px;
}

.rleft{
  float: left;
  width: 28%;
  margin-right: 20px;
}

.rright{
  float: right;
  width: 65%;
    margin: 0 auto;
  padding: 0 auto;
}

.rpic{
  margin: 0 auto;
  padding: 0 auto;
}